<!DOCTYPE html>
<html>
<head>
    <title>将文章采集到热前端</title>
    <link rel="stylesheet" href="css/typo.min.css">
    <link rel="stylesheet" href="css/edit.css">
    <script src="js/vue.js"></script>
</head>
<body id="app">
    <header class="header">
        <input type="text" class="title" value="{{ title }}" v-model="title">
        <div class="toolbar">
            <ul>
                <li class="btn_save separate" v-on:click="save">
                    <div class="btn btn-save">
                        <i></i>
                        保存到本地
                    </div>
                </li>
                <li class="btn_upload separate" v-on:click="upload">
                    <div class="btn btn-pin">
                        <i></i>
                        采集到热前端
                    </div>
                </li>
            </ul>
        </div>
        <a class="btn_close" v-on:click="close">×</a>
        <div class="clearfix"></div>
    </header>

    <div class="half typo">
        <textarea class="markdown scrollbar" value="{{ markdown }}" v-model="markdown"></textarea>
    </div>

    <div class="half typo">
        <div class="result scrollbar">{{{ result }}}</div>
    </div>

    <script src="js/mimic.js"></script>
    <script src="js/wordpress.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/markdown-it.js"></script>
    <script src="js/util.js"></script>
    <script src="js/reqianduan.js"></script>
    <script src="js/edit.js"></script>
</body>
</html>